[build]
builder = "nixpacks"

[build.commands]
# Menambahkan --no-self-contained untuk memperkecil ukuran dan menghindari konflik output
build = "dotnet restore && dotnet publish TokoApi.csproj -c Release -o out --no-self-contained"

[start]
cmd = "dotnet out/TokoApi.dll"